<!DOCTYPE html>
<html>
<head>
	<title>Bharath Blog</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<style type="text/css">
		.bg-color{
			background: skyblue;
		}
	</style>
</head>
<body class="bg-color">
	
	<div class="container">
		<h3 class="text-center">Please Login using the link to access the website</h3>
		<a style="color: white" class="navbar-brand float-right" href="/accounts/google/login/?process=login">Login with Google <i class="fa fa-google"></i></a>
	</div>
</body>
</html>